<html>
  <head>
    <title>Hello</title>
    <link href="https://fonts.googleapis.com/css?family=Almarai&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fefc3e4af0.js" crossorigin="anonymous"></script>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="/cucumber-reports.js"></script>
    <script>
      DossierRubyCucumber(<%= report.to_json %>)
    </script>
  </body>
</html>